@charset "EUC-KR";
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 background-color: 1px solid white;
}

/*사이드바 버튼 디자인 및 효과*/
.sidenav button{overflow: hidden; position: relative; display: inline-block; vertical-align: top;
	font-size: 25px; font-weight:bold; color: #fff;
	background: 0 none; width: 180px; height: 50px; line-height: 50px; border: 1px solid #111; transition: all 0.5s;}
.sidenav button:hover{color: #225ea7;}
.sidenav button:before{content: ""; z-index: -1; position: absolute; background: #fff; transition: all 1s;}
.sidenav .buttonSN:before{left: 0; top: 0; width: 0; height: 100%; border-bottom-right-radius: 50%; border-top-right-radius: 50%;}
.sidenav .buttonSN:hover:before{width: 200%;}

/*사이드바 span*/
.sidenav span{color:white; margin-left: 25px;}

/*관리자 로그인 Form*/
.manageForm{color: white; font-size: 15px; height:75px; margin-bottom: 20px;}
.manageForm input{width: 105px;}
.manageForm #PW_TF{margin-left: 3px;}

.manageForm #LoginBtn{width: 60px; margin-left: 37px; margin-top: 5px; color: #fff;  transition: all 0.5s;
						border:none; outline:1px solid #fff; background: 0 none;}
.manageForm #LoginBtn:hover{color: #111; outline: 1px solid #111; background-color: #fff; transition: all 0.5s;}
				
.manageForm #LogoutBtn{width: 80px; margin-left: 37px; margin-top: 5px; color: #fff;  transition: all 0.5s;
						border:none; outline:1px solid #fff; background: 0 none;}
.manageForm #LogoutBtn:hover{color: #111; outline: 1px solid #111; background-color: #fff; transition: all 0.5s;}					

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*좌석 관리 페이지*/
.seatDiv{min-width: 780px;}
.seatDiv table{min-width: 770px; margin-bottom: 50px;}
.seatDiv table td{text-align:center; width:80px; border: 1px solid #005766; padding: 5px; line-height: 25px;}
.seatDiv a{text-decoration: none; color:black; border-bottom: 1.5px solid black;}

/*현재 좌석 상태 사용자 유무 CSS -> seatManage.jsp에서 쓰려고 만듦*/
#useingTd{background-color: #005766; color: white;}
#useingTd a{text-decoration: none; color: white; border-bottom: 1.5px solid white;}