@charset "EUC-KR";
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 background-color: 1px solid white;
}

/**/
.sidenav button{overflow: hidden; position: relative; display: inline-block; vertical-align: top; color: #fff;
	background: 0 none; border: 1 #111; width: 180px; height: 50px; line-height: 50px; border: 1px solid #111; transition: all 0.5s;}
.sidenav button:hover{color: #225ea7;}
.sidenav button:before{content: ""; z-index: -1; position: absolute; background: #fff; border: 1 #fff; transition: all 1s;}
.sidenav .buttonSN:before{left: 0; top: 0; width: 0; height: 100%; border-bottom-right-radius: 50%; border-top-right-radius: 50%;}
.sidenav .buttonSN:hover:before{width: 200%;}
/**/

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}